<div class="container">
    <table class="table table-bordered table-inverse" style="width:100%">
      <tr>
        <th>speaker_id</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>title</th>
        <th>company</th>
        <th>speaker_bio</th>
        <th>speaker_photo</th>
      </tr>
      <tr>
        <td>
          {{speaker.speaker_id}}
        </td>
        <td>
          {{speaker.first_name}}
        </td>
        <td>
          {{speaker.last_name}}
        </td>
        <td>
          {{speaker.title}}
        </td>
        <td>
          {{speaker.company}}
        </td>
        <td>
          {{speaker.speaker_bio}}
        </td>
        <td>
          {{speaker.speaker_photo}}
        </td>
      </tr>
      <tr *ngFor="let s of speakers">
        <td>
          {{s.speaker_id}}
        </td>
        <td>
          {{s.first_name}}
        </td>
        <td>
          {{s.last_name}}
        </td>
        <td>
          {{s.title}}
        </td>
        <td>
          {{s.company}}
        </td>
        <td>
          {{s.speaker_bio}}
        </td>
        <td>
          {{s.speaker_photo}}
        </td>
      </tr>
    </table>
  </div>
  <router-outlet></router-outlet>  